# Dependencies
node_modules
.pnp
.pnp.js
.wrangler

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.dev.vars

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# otp outputs
router-config.json
gtfs.zip
osm.pbf
graph.obj

# Debug
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
*.pem
